@import "tailwindcss";
:root {
  --primary: #0f687e;
  --light:#EDF1F9;
    --itemColor:#fff;
    /* --itemColor:#EDF1F9; */
    /* --light:#DCE6F6; */
    
  }
body{
  background-color:#EDF1F9;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Muli', sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  width: 100%;
}
.containerPage{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
